/*цвет основного текста#212121;*/
/*цвет вторичного текста#757575;*/
/*белый#FFFFFF;*/
/*акцент#2196F3;*/
/*цвет фона основной#E5E5E5;*/
/*цвет фона темный#2F303A;*/
/*вторичный цвет фона#F5F4FA;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  color: #212121;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-blue {
  color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.site-nav .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts-header .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  height: 600px;
}

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.buttom {
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
}

.features-title {
  color: #212121;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features .text {
  font-size: 14px;
  line-height: 1.7;
}

.activity-title,
.team-title {
  color: #212121;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
}

.team {
  background-color: #f5f4fa;
}

.footer {
  background-color: #2f303a;
  height: 255px;
}

.logo-white {
  color: #ffffff;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.address {
  color: #ffffff;

  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.footer-address .link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: #2196f3;
}
