/*цвет основного текста#212121;*/
/*цвет вторичного текста#757575;*/
/*белый#FFFFFF;*/
/*акцент#2196F3;*/
/*цвет фона основной#E5E5E5;*/
/*цвет фона темный#2F303A;*/
/*вторичный цвет фона#F5F4FA;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background: #2f303a;
  --background-team: #f5f4fa;
  --address-link: rgba(255, 255, 255, 0.6);
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-blue {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.contacts-header .link {
  color: var(--primary-text-color)

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.hero {
  background-color: var(--background);
  height: 600px;
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.buttom {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid var(--title-text-color);
  text-decoration: none;
}

.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features .text {
  font-size: 14px;
  line-height: 1.7;
}

.activity-title,
.team-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
}

.team {
  background-color: var(--background-team);
}

.footer {
  background-color: var(--background);
  height: 252px;
  font-style: normal;
}

.logo-white {
  font-family: Raleway, sans-serif;
  color: var(--white-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.address {
  color: var(--white-color);

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.footer-address .link {
  color: var(--address-link);

  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}

/*portfolio page */

.hidden {
  visibility: hidden;
  display: none;
}

.button {
  color: var(--title-text-color);
  background-color: var(--background-team);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  display: inline-block;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.projects-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects a {
  text-decoration: none;
}
.projects-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
